.cards-panel {
    background-color: #fafafa;
    .col-sm-12 {
        .row {
            .credit-card {
                margin: 5px auto;
                border: 1px solid #000000;
                width: 90%;
                height: 150px;
                cursor: pointer;
            }
        }
    }
}
